.Rproj.user
.Rhistory
.RData
.Ruserdata

*.png

*.rdb

*.rdx

*.RData

logitTitanic.R

benchmark_titanic.R

randomForestOnTheTitanic.html

randomForestOnTheTitanic.html

*.html

TitanicSlides/index.md
